@media screen and (min-width: 90rem) {

    #discoverCards {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    #discoverCards section {
        grid-template-columns: 1fr 2fr;
        max-width: 60rem;
    }
}
