:root {
    --mainColor: #003135;
    --secondaryDark: #024950;
    --secondaryLight: #AFDDE5;
    --accentColor: #f47758;
}

body {
    font-family: "Epunda Slab", serif;
    font-weight: 500;
    font-style: normal;
}


/*Hero section */

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ogdenhero.avif");
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;

}

.cta {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px 30px;
    background-color: #f47758;
    color: black;
    font-size: medium;
    box-shadow: 2px 2px 5px 1px #003135;
}

/*Home Section */

h1 {
    grid-column: 1/3;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

#events {
    background: var(--secondaryLight);
    grid-column: 1/2;
    padding: .5rem 0 2rem 0;
    /* max-width: fit-content; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    flex: 0 0 300px */
}

.event {
    background: white;
    box-shadow: 1px 1px 3px 1px #003135;
    padding: 1rem;
    margin: 1rem;

}

h3 {
    padding: 1rem 0 0 1rem;
    background: var(--secondaryLight);
    margin: 0;
}

/* Weather Section */

.center {
    text-align: center;
}

aside {
    background: var(--secondaryLight);
}

/*membership info*/
#members {
    grid-column: 1/3;
    margin-bottom: 1rem;
}

#membership {
    display: flex;
    justify-content: space-around;
    background: var(--secondaryLight);
    flex-wrap: wrap;
}

#membership section {
    text-align: center;
    align-content: center;
}

